body {
  color: rgb(88, 105, 158);
}
.navbar {
  padding: 1rem;
  background-color: blue;
}

.footer {
  background-color: darkgray;
}

.btn-primary:hover {
  background-color: blue;
  color: white;
}
